<!DOCTYPE html>
<html>
  <head>
    <title>CUTE</title>
    <link rel='stylesheet' href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>
  	<nav class="nav">
  		<a class="logo">CUTE</a>
  		<% if(sid == undefined){ %>
		  		<button class="nav-button" data-toggle="modal" data-target="#loginModal">
		  			<span aria-hidden="true"><i class="ion-log-in"></i></span>  Login
		  		</button>
      <% } else { %>
      		<div class="dropdown">
			      <button type="button" class="nav-button" id="student-id">
			  			<span aria-hidden="true"><i class="ion-ios-person"></i></span> <%= sid %>
			  		</button>
			  		<div class="dropdown-list" aria-labelledby="student-id">
			  			<a href="/comment"><span aria-hidden="true"><i class="ion-ios-compose-outline"></i></span>  My Comment</a><br>
			  			<a href="/protected/import"><span aria-hidden="true"><i class="ion-ios-download-outline"></i></span>  Import Timetable</a><br>
			  			<a href="/logout"><span aria-hidden="true"><i class="ion-log-out" ></i></span>  Logout</a>
			  		</div>
			  	</div>
      <% } %>
  	</nav>

    <div class="container">
    	<div class="row">
    		<div class="col-md-8">
	    		<div class="table">
	    			<div class="time">
	    				<span class="space"></span>
	    				<span class="time-label">8:30</span>
	    				<span class="time-label">9:30</span>
	    				<span class="time-label">10:30</span>
	    				<span class="time-label">11:30</span>
	    				<span class="time-label">12:30</span>
	    				<span class="time-label">13:30</span>
	    				<span class="time-label">14:30</span>
	    				<span class="time-label">15:30</span>
	    				<span class="time-label">16:30</span>
	    				<span class="time-label">17:30</span>
	    			</div>
	    			<div class="main-table">
				    	<li class="day">
				    		<div class="day-label">Mon</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Tue</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Wed</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Thu</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Fri</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Sat</div>
				    		<div class="schedule"></div>
				    	</li>
				    </div>
			    </div>
			    <div class="select-list" id="select-list">
			    </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="search">
	    			<form action="#" method="GET" class="form">
	    				<div class="search-bar input-box">
		    				<input type="text" name="search" placeholder="Search" id="search-input">
		    				<i class="ion-ios-search"></i>
	    				</div>
	    			</form>
	    		</div>
	    		<div class="search-list" id="search-list">
	    		</div>
	    	</div>
    	</div>
    </div>

    <!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="loginModalLabel">Login with CWEM</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true"><i class="ion-ios-close-outline"></i></span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form method="POST" action="/login" id="login-form">
		        	<div class="login-input input-box">
		    				<i class="ion-ios-person-outline" ></i>
		    				<input type="text" name="sid" placeholder="11550xxxxx">
	    				</div>
	    				<div class="login-input input-box">
		    				<i class="ion-ios-keypad-outline" ></i>
		    				<input type="password" name="pwd" placeholder="Your CWEM Password">
	    				</div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="submit" form="login-form" value="Submit" class="btn btn-cute">Login</button>
		      </div>
		    </div>
		  </div>
		</div>

		<template id="class-item-tmpl">
			<div class="class-item">
				<div class="class-info">
				</div>
			</div>
		</template>

		<template id="search-item-tmpl">
			<div class="search-item">
				<div class="search-item-info">
				</div>
				<a class="search-item-btn">
					<i class="ion-information-circled"></i>
				</a>
			</div>
		</template>

		<template id="select-item-tmpl">
			<div class="select-item">
    		<div class="select-item-tooltip">
    			<div class="select-item-lec"> 
    				<div style="margin-right: 7px">LEC</div>
    				<div>
    					<div class="select-item-lec-sec"> 
			    			<span><i class="ion-ios-clock-outline"></i> Mon: 9:30 - 11:30</span>
			    			<span><i class="ion-ios-location-outline"></i> Med G18</span>
		    			</div>
		    			<div class="select-item-lec-sec"> 
			    			<span><i class="ion-ios-clock-outline"></i> Thu: 12:30 - 13:30</span>
			    			<span><i class="ion-ios-location-outline"></i> LSB LT2</span>
		    			</div>
    				</div>
	    		</div>
	    		<div class="select-item-tut">TUT
	    			<span><i class="ion-ios-clock-outline"></i> Thu: 13:30 - 14:30</span>
	    			<span><i class="ion-ios-location-outline"></i> LSB C1</span>
	    		</div>
    		</div>
    		<div class="select-item-show">
    			<div class="select-item-color"><i class="ion-record"></i></div>
  				<div class="select-item-title">CSCI4140 Open Sourse Software Development</div>
    			<div class="select-item-btn">
    				<i class="ion-ios-trash-outline"></i>
	    			<i class="ion-ios-eye"></i>
    			</div>
    		</div>
    	</div>
		</template>
  </body>
</html>

<script src="/javascripts/index.js">
</script>


