<% include partials/header %>
    <div class="container">
    	<div class="row">
    		<div class="col-md-8">
	    		<div class="table">
	    			<div class="time">
	    				<span class="space"></span>
	    				<span class="time-label">8:30</span>
	    				<span class="time-label">9:30</span>
	    				<span class="time-label">10:30</span>
	    				<span class="time-label">11:30</span>
	    				<span class="time-label">12:30</span>
	    				<span class="time-label">13:30</span>
	    				<span class="time-label">14:30</span>
	    				<span class="time-label">15:30</span>
	    				<span class="time-label">16:30</span>
	    				<span class="time-label">17:30</span>
	    				<span class="time-label">18:30</span>
	    				<span class="time-label">19:30</span>
	    				<span class="time-label">20:30</span>
	    			</div>
	    			<div class="main-table">
				    	<li class="day">
				    		<div class="day-label">Mon</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Tue</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Wed</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Thu</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Fri</div>
				    		<div class="schedule"></div>
				    	</li>
				    	<li class="day">
				    		<div class="day-label">Sat</div>
				    		<div class="schedule"></div>
				    	</li>
				    </div>
			    </div>
			    <div class="loading" id="loading">
		  			<div class="loading-box"><i class="ion-ios-loop"></i></div>
			    </div>
			    <div class="select-list" id="select-list">
			    </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="im-export-btn">
	    			<button class="clickable" id="import-btn"><span><i class="ion-ios-download-outline"></i></span>  Import</button>
	    			<button class="clickable" id="export-btn"><span><i class="ion-ios-upload-outline"></i></span>  Download </button>
			  	</div>
			  	<div class="search">
    				<div class="search-bar input-box">
	    				<input type="text" name="search" placeholder="Search" id="search-input">
	    				<i class="ion-ios-search"></i>
    				</div>
	    		</div>
			    <div class="recommend-list" id="recommend-list">
			    	<div class="recommend-title">Recommend
			    	</div>
			    </div>
	    		<div class="search-list" id="search-list">
	    	</div>
    	</div>
    </div>

		<template id="class-item-tmpl">
			<div class="class-item">
				<div class="class-info">
				</div>
			</div>
		</template>

		<template id="search-item-tmpl">
			<div class="search-item">
				<div class="search-item-info">
				</div>
				<a target="_blank" class="search-item-btn">
					<i class="ion-information-circled"></i>
				</a>
			</div>
		</template>

		<template id="select-item-tmpl">
			<div class="select-item">
    		<div class="select-item-tooltip">
    			<!-- select-item-lec -->
    		</div>
    		<div class="select-item-show">
    			<a target="_blank" class="select-item-info"><i class="ion-information-circled"></i></a>
  				<div class="select-item-title"></div>
    			<div class="select-item-btn">
    				<i class="ion-ios-trash-outline delete-btn clickable-btn"></i>
	    			<i class="ion-ios-eye hide-btn clickable-btn"></i>
    			</div>
    		</div>
    	</div>
		</template>

		<template id="select-item-comp-tmpl">
			<div class="flex"> 
				<div class="select-item-comp-title" style="margin-right: 7px"></div>
				<div class="select-item-comp-sec">
					<!-- select-item-sec-tmpl -->
				</div>
  		</div>
		</template>

  	<template id="select-item-sec-tmpl">
  		<div class="select-item-sec"> 
  			<!-- <span><i class="ion-ios-clock-outline"></i> Thu: 12:30 - 13:30</span>
  			<span><i class="ion-ios-location-outline"></i> LSB LT2</span> -->
			</div>
  	</template>

<script src="/javascripts/export.js"></script>
<script src="/javascripts/index.js"></script>

<% include partials/footer %>
