/* For course page */
/* main h2 section*/

body{
    font-size: 1rem;
    font-weight: 400;
}
span{
    vertical-align: baseline;
}
main{
    display: block;
}
p{
  margin: 0;
}
h4, h6{
    color:var(--2th-color-3);
    background-color: white;
    text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    font-weight: bold;
}
section{
    padding-top: 2rem;
}
ul li{
    list-style-type: none;
    font-size: 1.5vw;
}
li{
    padding-top: 5px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* main content */
.main-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    box-sizing: border-box;
    display: block;
}
@media only screen and (min-width: 700px){
    body{
        padding-left:50px;
    }
}
#Details{
    padding-top: 45px;
}
.course-page{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.course-header{
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 1rem;
    border-bottom: solid 1px #888888;
    display: block;
    box-sizing: border-box;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 2.5em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
  padding-top: 0;
} 
.link--kukuri {
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  color: var(--grey-2);
}
 
.link--kukuri:hover {
  color: var(--grey-2);
}
 
.link--kukuri::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 300%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
 
.link--kukuri:hover::after {
  transform: translate3d(100%,0,0);
}
 
.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}
 
.link--kukuri:hover::before {
  width: 100%;
}

.beauty-font{
    color: var(--grey-2);
    font-size: 18px; 
    font-weight: 400;
    line-height: 24px; 
    margin: 0 0 24px;
}

.courseinfo-border{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #888888;
    display: block;
    box-sizing: border-box;
}
.oneline{
    white-space: nowrap;
}
.press {
    color: transparent;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
    -webkit-background-clip : text;
}
/* aside */
.scrollable{
    overflow: auto;
}
.info-nav{
    position:sticky;
    top: 4rem;
    overscroll-behavior: contain;
    max-height: calc(100vh - 4rem);
}
.aside-nav a{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-left: solid 0.3rem #424242;
}
.red_sign a{
    font-weight: bold;
    color: #ff5138;
    border-color:#ff5138;
}

/* meeting time table */
table.altrowstable {  
    font-family: verdana,arial,sans-serif;  
    font-size:15px;  
    color:#333333;  
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;  
    border-collapse: collapse;
     
}  
table.altrowstable th {  
    border-width: 1px;  
    padding: 10px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}  
table.altrowstable td {  
    border-width: 1px;  
    padding: 10px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}  
.oddrowcolor{  
    background-color:#0df388;  
}  
.evenrowcolor{  
    background-color:#0aa0f7;  
}

/* Enrollment Info */
.enroll-info{
    font-size: 1.2rem;
    font-weight:bold;
    letter-spacing: 1px;
    color:var(--2th-color-3);
}
.enroll-text{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
}
/* Avail info */
.avail-num{
    font-size: 1.5rem;
    font-weight:bold;
}


.btn-cute-mini{
  background-color: var(--main-color-3);
  margin: 0 0.2rem;
  color: var(--main-bg-color);
  width: 4rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: .25rem;
  padding: 4px;
  font-size: 12px;
}
.last-update{
    font-size: 12px;
    color: var(--main-color-3);
    font-weight: 400;
    padding-top:5px;
    position: absolute;
    right:20px;
    padding-bottom:5px;
}

/* comments */
.courseinfo-border a{
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color-3);
}
.comments_border{
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: content-box;
    font-size:15px;
    font-weight:normal;
}
.h3-span{
    font-size: 2rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: var(--2th-color-3);
    background-color : transparent;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
}
.h4-span{
    font-size:1.5rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: var(--2th-color-3);
    background-color : transparent;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
}

.h5-span{
    font-size:1.25rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: var(--2th-color-3);
    background-color : transparent;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
}
.comments-sort-list{
    padding-top:5px;
    position: absolute;
    right:20px;
    padding-bottom:5px;
}
.comments-sort-list a{
    margin-left: 10px;
    color: #21242c!important;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
.comments-sort-list a.selected{
    color: #0d923f!important;
}
.comments-list{
    overflow: auto;
    margin: 0;
    padding-left:5px;
    padding-right:5px;
    max-height: 1000px;
}
.comment-mode{
    display: flex;
    height: 25px;
    font-weight:bold;
    line-height: 22px;
    overflow: hidden;
}
.comment-control{
    float:left;
    left: 0;
    -webkit-font-smoothing: antialiased!important;
}
.comment-content{
    font-size: 1.5rem;
    color:#0b1920;
}
.ds-comment-body {
    z-index: 1;
    position: relative;
    left: 0;
    padding: 15px 15px 15px 47px;
    color: rgb(81, 82, 63);
    border-color: #21242c;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 1px 0 rgba(146, 145, 145, 0.75) inset;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
textarea {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: rgb(25, 16, 39);
    /*border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px 1px 1px 1px; */
    border-top: 3px solid#e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
    border-color: #1b1529;
}

.text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}
.text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.triangle-up{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black; 
}
.vote-for{
    cursor:pointer;
    display:inline-block;
}
.triangle-down { 
    width: 0;
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid black;
} 
.separator{
    color:#d6d8da!important;
    content:"\2022";
    padding-left:2px;
    padding-right:2px;
    display: inline-block;
}
.time-section{
    float:right;
    text-align: right;
    right:0;
}
.scroll_cmt_frm{
    float: right;
    right:10px;
    margin-top: -20px;
}
.comment-respond{
    margin-top:50px;
    padding: 50px;
}
.comment-reply-title{
    margin-bottom: 25px;
    color: var(--2th-color-3);
    font-weight: bold;
}
.comment-respond p{
    margin-bottom: 25px;
    position: relative;
}
.comment-respond #write-comment{
    width: 800px;
    height: 135px;
    resize: none;
    border-width: 0px;
}
.edit-form{
    display:none;
}
.comment-edit-button{
    right:0;
}

.button1 {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff9999;
  border: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: text-top;
  /*font-size: 28px;*/
/*  padding: 20px;*/
/*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  vertical-align:text-top;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -40px;
  transition: 0.5s;
}

.button1:hover span {
  padding-left: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff9999;
  border: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: text-top;
  /*font-size: 28px;*/
/*  padding: 20px;*/
/*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  vertical-align:text-top;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

/* rating */
.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}
.rating-title{
    font-size: 1rem;
    font-weight: bold;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('../img/star-off-big.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../img/star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before, 
.rating:not(:hover) > :checked ~ label:before { opacity: 1; }