/* For course page */
/* main h2 section*/
body{
    font-size: 1rem;
    font-weight: 400;
}
span{
    vertical-align: baseline;
}
main{
    display: block;
}
h2{
    color: red;
    background-color : white;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
}
section{
    padding-top: 45px;
}
ul li{
    list-style-type: none;
    font-size: 1.5rem;
}
li{
    padding-top: 5px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* main content */
.main-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    box-sizing: border-box;
    display: block;
}
@media only screen and (min-width: 700px){
    body{
        padding-left:50px;
    }
}
#Details{
    padding-top: 45px;
}
.course-page{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.course-header{
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 1rem;
    border-bottom: solid 1px #888888;
    display: block;
    box-sizing: border-box;
}

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 3em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
  padding-top: 15px;
} 
.link--kukuri {
  text-transform: uppercase;
  font-weight: 300;
  overflow: hidden;
  line-height: 0.75;
  color: #b2b0a9;
}
 
.link--kukuri:hover {
  color: #b2b0a9;
}
 
.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
 
.link--kukuri:hover::after {
  transform: translate3d(100%,0,0);
}
 
.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #424242;
  white-space: nowrap;
  width: 0%;
  transition: width 0.4s 0.3s;
}
 
.link--kukuri:hover::before {
  width: 100%;
}

.beauty-font{
    color: #7c795d;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 24px; 
    font-weight: 400; 
    line-height: 32px; 
    margin: 0 0 24px;
}

.courseinfo-border{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #888888;
    display: block;
    box-sizing: border-box;
}
/* aside */
.scrollable{
    overflow: auto;
}
.info-nav{
    position:sticky;
    top: 4rem;
    overscroll-behavior: contain;
    max-height: calc(100vh - 4rem);
}
.aside-nav a{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-left: solid 0.3rem #424242;
}
.red_sign a{
    font-weight: bold;
    color: #ff5138;
    border-color:#ff5138;
}

/* meeting time table */
table.altrowstable {  
    font-family: verdana,arial,sans-serif;  
    font-size:15px;  
    color:#333333;  
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;  
    border-collapse: collapse;
     
}  
table.altrowstable th {  
    border-width: 1px;  
    padding: 10px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}  
table.altrowstable td {  
    border-width: 1px;  
    padding: 10px;  
    border-style: solid;  
    border-color: #a9c6c9;  
}  
.oddrowcolor{  
    background-color:#0df388;  
}  
.evenrowcolor{  
    background-color:#0aa0f7;  
}

/* Enrollment Info */


/* comments */
.comments_border{
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: content-box;
    font-size:15px;
    font-weight:normal;
}
.h2-span{
    font-size:2rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: red;
    background-color : transparent;
    text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
}
.comments-sort-list{
    padding-top:5px;
    position: absolute;
    right:20px;
    padding-bottom:5px;
}
.comments-sort-list a{
    margin-left: 10px;
    color: #21242c!important;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
.comments-sort-list a.selected{
    color: #0d923f!important;
}
.comments-list{
    overflow: hidden;
    margin: 0;
    padding-left:5px;
    padding-right:5px;
}
.comment-mode{
    display: block;
    height: 50px;
    font-size: 15px;
    font-weight:bold;
    line-height:20px;
    overflow: hidden;
}
.comment-control{
    float:left;
    left: 0;
    -webkit-font-smoothing: antialiased!important;
}
.comment-vote{
    display: inline-block;
    margin-left: 4px;
}
.triangle-up{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid black; 
}
.vote-for{
    cursor:pointer;
    display:inline-block;
}
.triangle-down { 
    width: 0;
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid black;
} 
.separator{
    color:#d6d8da!important;
    content:"\2022";
    padding-left:2px;
    padding-right:2px;
    display: inline-block;
}
.time-section{
    float:right;
    text-align: right;
    right:0;
}
.scroll_cmt_frm{
    float: right;
    right:10px;
    margin-top: -20px;
}
.comment-respond{
    margin-top:50px;
    padding: 50px;
}
.comment-reply-title{
    font-size: 24px;
    margin-bottom: 25px;
}
.comment-respond p{
    margin-bottom: 25px;
    position: relative;
}
.comment-respond #write-comment{
    width: 800px;
    height: 135px;
    resize: none;
    border-width: 0px;
}
.edit-form{
    display:none;
}
#edit-comment{
    width: 800px;
    height: 135px;
    resize: none;
    border-width: 0px;
}
textarea{
    border-radius: 8px;
}

.button1 {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff9999;
  border: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: text-top;
  /*font-size: 28px;*/
/*  padding: 20px;*/
/*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  vertical-align:text-top;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -40px;
  transition: 0.5s;
}

.button1:hover span {
  padding-left: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  display: inline-block;
  border-radius: 8px;
  background-color: #ff9999;
  border: none;
  color: #FFFFFF;
  text-align: center;
  vertical-align: text-top;
  /*font-size: 28px;*/
/*  padding: 20px;*/
/*  width: 200px;*/
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  vertical-align:text-top;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}


.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('../img/star-off-big.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../img/star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before, 
.rating:not(:hover) > :checked ~ label:before { opacity: 1; }