:root {
    --main-color-1 : #E7F0F9;
    --main-color-2 : #73A5DC;
    --main-color-3 : #005BBF;
    --main-color-4 : #003A7A;
    --main-color-5 : #002246;
    --2th-color-1: #FBECEC;
    --2th-color-2: #D84A41;
    --2th-color-3: #D5382E;
    --2th-color-4: #9B2922;
    --2th-color-5: #4E1511;
    --grey-1: #E2E2E3;
    --grey-2: #717273;
    --grey-3: #50453B;
    --grey-4: #404041;
    --grey-5: #121313;
    --nav-bg-color: #E7F0F9;
    --main-color: #005BBF;
    --main-bg-color: #FFF;
    --second-bg-color: #E7F0F9;
    --assist-color: #D5382E;
    --warn-color: #D5382E;
}

body {
  padding: 50px 20px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color-4);
}

a {
  color: var(--assist-color);
}

@media (min-width: 576px){
  .container {
      max-width: 600px;
  }
}
@media (min-width: 768px){
  .container {
      max-width: 1080px;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

[data-select=false] {
  opacity: 0.7;
}


.nav{
	position: fixed;
	width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  z-index: 10;
  background-color: var(--nav-bg-color)
}

a.logo{
	margin: auto auto auto 1rem;
  text-decoration: none;
  color: var(--gery-2);
}

.nav button{
	height: inherit;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
	outline: none;
}

.clickable-btn:hover{
  color: var(--2th-color-3);
}

#import-btn i{
  font-size: 17px;
}

.dropdown{
	margin: auto 5px auto;
	height: 3rem;
}
.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-list{
    position: absolute;
    top: 2.9rem;
    left: -3.5rem;
    z-index: 1000;
     display: none; 
    float: left;
    padding: 0.75rem 1rem;
    margin: .125rem 0 0;
    color: var(--gery-2);
    text-align: left;
    background-color: var(--main-bg-color);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 13rem;
}

.dropdown-list a{
    line-height: 1.5rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.day {
	width: -webkit-fill-available;
	flex-direction: column;
	display: flex;
  border-left: 1px solid #ced4da;
  height: 41rem;
}

.day:first-child {
  /*border-left: none;*/
}

.label {
	text-align: middle;
}

.day-label {
	height: 2rem;
  margin: auto;
  padding: 8px;
}

.class-item{
	min-width: 4rem;
	position: relative;
	display: flex;
	width: -webkit-fill-available;
  height: 97%;
  background-color: var(--2th-color-2);
  border-radius: 5px;
  border-bottom: 2px solid var(--2th-color-4);
  border-right: 1px solid var(--2th-color-4);
  padding: 3px;
  line-height: 14px;
  color: var(--main-color-1);
}
.class-info{
	/*top:1px;*/
	position: absolute;
  font-size: 10px;
}


.main-table {
	flex-direction: row;
	display: flex;
  width: -webkit-fill-available;
}

.table{
  flex-direction: row;
  display: flex;
  color: var(--gery-1);
  overflow: scroll;
  height: 32rem;
  border: 1px solid var(--gery-0);
  border-radius: 4px;
}

.time{
  flex-direction: column;
  display: flex;
  margin: 0 0.25rem;
}

.time-label{
  text-align: center;
  margin: 15.5px auto;
}

.space{
  margin: 4.5px 0;
}

.schedule{
	background: linear-gradient(180deg,var(--second-bg-color) 50%, transparent 0);
	background-size: 15.5%;
	height: 39rem;
	position: relative;
  display: grid;
  grid-template-rows: repeat(13,3rem);
}

.loading{
  height: 32rem;
  background: var(--main-bg-color);
  position: relative;
  top: -33rem;
  opacity: 0.75;
  text-align: center;
  display: none;
}

.loading-box{
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
  position: relative;
  top: calc(50% - 1.5rem);
  font-size: 3rem;
}

.input-box{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gery-2);
  background-color: var(--main-bg-color);
  background-clip: padding-box;
  border: 1px solid var(--main-color-3);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-box input{
	border:none;
	width: 90%;
	outline: none;
  color: var(--grey-2);
}

.input-box i{
	color: var(--main-color);
}

.login-input{
	width: 75%;
  margin: 1rem auto;
}

#login-warning{
  margin: 0.5rem auto;
  padding: 0.4rem;
  text-align: center;
  border-radius: 4px;
  background-color: var(--warn-color);
  width: 75%;
  color: var(--second-bg-color);
  display: none;
  font-size: small;
}

.modal-header{
	background-color: var(--second-bg-color);
	border: none;
}

.modal-header .close{
	padding: 0;
	margin: auto 0rem;
}
.modal-body{
	padding: 0rem 1rem;
}

.modal-footer{
	padding: 0.5rem 1rem 1rem;
	border: none;
}

.btn-cute{
	background-color: var(--main-color);
  margin: 0 1rem 0.2rem;
	color: var(--main-bg-color);
}

.search-list{
  height: 27.5rem;
  overflow: scroll;
}

.search-item{
  display: flex;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--second-bg-color);
  border-radius: 4px;
  width: -webkit-fill-available;
}

.search-item-info{
  width: 90%
}

.search-item-info span{
  color: var(--main-color);
  font-size: 0.75rem;
}

.search-item-btn{
  margin: 0 0 0 auto;
}

.select-item-show{
  display: flex;
  padding: 0.25rem;
  border: 1px solid var(--main-color);
  border-radius: 2rem;
  height: 3rem;
  margin-left: 0.25rem;
}

.select-item-info{
  width: 7%;
  margin: 0.5px -1px 0px 8px;
}

.select-item-info i{
  font-size: 1.5rem;
}

.select-item-btn{
  width: 13%;
  margin: auto 0 auto auto;
}

.select-item-btn i{
  font-size: 1.5rem;
  margin: 0px 4px;
}

.select-item-title{
  margin: auto 0;
  width: 80%;
}

.select-item-tooltip{
  display: none;
  background-color: var(--main-bg-color);
  opacity: 0.8;
  width: 70%;
  position: absolute;
  z-index: 1;
  box-shadow: 2px 2px 10px;
  padding: 0.8rem 0.6rem;
  left: 80%;
}

.select-item-tooltip span{
  text-indent: 1rem;
}

.export button{
  border: 1px solid var(--main-color);
  width: -webkit-fill-available;
  height: 2.5rem;
  border-radius: 4px;
  color: var(--main-color);
  margin: 0.25rem 0;
  font-size: 14px;
  outline: none
}

.export button i{
  font-size: 1rem;
}

.clickable:hover {
  background-color: var(--2th-color-4);
  color: var(--2th-color-1);
}

template{
  display: none;
}

.flex{
  display: flex;
}

.search-item:hover{
  background-color: var(--main-color-1);
}

#export-btn:hover{
  background-color: var(--main-color-3);
  color: var(--grey-1);
}

.hidden{
  /*display: none*/
}

.ion-ios-reload {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.col-md-8{
  /*height: -webkit-fill-available;*/
}

