body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media (min-width: 576px){
  .container {
      max-width: 600px;
  }
}
@media (min-width: 768px){
  .container {
      max-width: 1200px;
  }
}


.nav{
	position: fixed;
	width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  z-index: 10;
  background-color: linen
}

.logo{
	margin: auto auto auto 1rem;
}

.nav button{
	height: inherit;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
	outline: none;
}

.nav button:hover{
  color: lightcoral;
}

.dropdown{
	margin: auto 5px auto;
	height: 3rem;
}
.dropdown:hover .dropdown-list {
    display: block;
}
.dropdown:hover #student-id {
    color: lightcoral;
}

.dropdown-list{
    position: absolute;
    top: 3rem;
    left: -3.5rem;
    z-index: 1000;
     display: none; 
    float: left;
    padding: 0.75rem 1rem;
    margin: .125rem 0 0;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 11rem;
}

.dropdown-list a{
    line-height: 1.5rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}

.day {
	width: -webkit-fill-available;
	flex-direction: column;
	display: flex;
  border-left: 1px solid #ced4da;
}

.day:first-child {
  border-left: none;
}

.day:first-child .schedule{
  display: block;
}

.label {
	text-align: middle;
}

.day-label {
	height: 2rem;
}

.class-container{
	min-width: 4rem;
	position: relative;
	display: flex;
	width: -webkit-fill-available;
}
.class-item{
	background-color: lightcoral;
	border-radius: 0px;
	top:1px;
	height: 96%;
	width: 96%;
	box-shadow: 2px 2px 2px lightcoral;
	position: absolute;
}


.main-table {
	flex-direction: row;
	display: flex;
	border: 1px solid #ced4da;
	border-radius: 4px;
	overflow: scroll;
  width: -webkit-fill-available;
}

.table{
  flex-direction: row;
  display: flex;
  color: grey;
}

.time{
  flex-direction: column;
  display: flex;
  margin: 0 0.25rem;
}

.time-label{
	height: calc(10% - 4px);
  text-align: center;
}

.space{
  height: calc(2rem - 5px);
}

.schedule{
	background: linear-gradient(180deg,mistyrose 50%, transparent 0);
	background-size: 20%;
	height: 28rem;
	position: relative;
  display: grid;
  grid-template-rows: repeat(10,3.2rem);
}

.input-box{
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-box input{
	border:none;
	width: 90%;
	outline: none;
}

.input-box i{
	color: lightcoral;
}

.login-input{
	width: 75%;
  margin: 1rem auto;
}

.modal-header{
	background-color: linen;
	border: none;
}

.modal-header .close{
	padding: 0;
	margin: auto 0rem;
}
.modal-body{
	padding: 0rem 1rem;
}

.modal-footer{
	padding: 0.5rem 1rem 1rem;
	border: none;
}

.btn-cute{
	background-color: lightcoral;
  margin: 0 1rem 0.2rem;
	color: white;
}

.search-list{
  height: 27.5rem;
  overflow: scroll;
}

.search-item{
  display: flex;
  padding: 0.5rem 0.8rem;
  border: 1px solid mistyrose;
  border-radius: 4px;
}

.search-item-info{
  width: 90%
}

.search-item-info span{
  color: lightcoral;
  font-size: 0.75rem;
}

.search-item-btn{
  margin: 0 0 0 auto;
}

.select-item-show{
  display: flex;
  padding: 0.25rem;
  border: 1px solid lightcoral;
  border-radius: 2rem;
  height: 2.5rem;
  margin-left: 0.25rem;
}

.select-item-color{
  width: 7%;
  margin: -7px 7px 0px 1px;
}

.select-item-color i{
  font-size: 2.3rem;
  color: lightcoral;
}

.select-item-btn{
  width: 13%;
  margin: 0 0 0 auto;
}

.select-item-btn i{
  font-size: 1.5rem;
  margin: 0px 4px;
}

.select-item-title{
  margin: auto 0;
}

.select-item-tooltip{
  display: none;
  background-color: white;
  opacity: 0.8;
  width: 70%;
  position: absolute;
  z-index: 1;
  box-shadow: 2px 2px 10px;
  padding: 0.8rem 0.6rem;
  left: 80%;
}

.select-item-lec{
  display: flex;
}

.select-item-tooltip span{
  text-indent: 1rem;
}